@charset "UTF-8";
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.ttf');
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.ttf');
  font-weight: normal;
  font-style: normal; }

.top {
  max-width: 1180px; }

.top, .top .logotip, .top .moduletable_menu {
  flex-flow: column;
  justify-content: center; }

html, body, .wrapper, .wrapper__content, .mainarea, .main-content, .top, .top .supwrap .topmenu, .top .logotip, .top .moduletable_menu, .top .moduletable_menu .nav.menu, .bottom .supwrap, .bottom .footer-menu, .bottom .footer-menu .inner, .category-module-categ, .category-module-categ li, .item-pagecontacts .article, .item-pagecontacts .left, .item-pagecontacts .right, .item-pageproducts .article, .item-pageproducts .left, .item-pageproducts .right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

* {
  margin: 0;
  outline: none;
  padding: 0; }

html, body {
  flex-wrap: nowrap;
  min-height: 100%;
  width: 100%; }

html {
  font-family: sans-serif;
  justify-content: center;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth; }

body {
  color: #373742;
  font-size: 20px;
  font-family: Roboto-Light;
  max-width: 68em;
  min-width: 16em;
  position: relative; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent;
  text-decoration: none;
  color: #00aeef; }
  a :active, a :hover {
    outline: 0;
    color: #373742;
    text-decoration: underline; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 400; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input[type="checkbox"], input[type="radio"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
    input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
      height: auto; }
  input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 400; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

p {
  margin: 1em 0; }

.req-demo.hide {
  opacity: 0; }

.req-demo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 46, 106, 0.6);
  z-index: 1;
  opacity: 1;
  transition: all 0.3s ease-in-out; }
  .req-demo .inner {
    display: flex;
    align-items: center;
    justify-content: center; }
    .req-demo .inner .btn-wrap {
      padding: 15px; }
      .req-demo .inner .btn-wrap a {
        background: #00aeef;
        border: 3px solid #00aeef;
        display: block;
        font-family: Roboto-Black;
        font-size: 1em;
        margin: auto;
        padding: 10px 15px;
        text-shadow: none;
        text-align: center;
        transition: all 0.2s;
        color: #fff; }

.from {
  margin-bottom: 70px; }
  .from #userForm {
    padding: 30px 50px;
    background: #fff;
    border-radius: 10px;
    max-width: 1024px;
    margin: auto;
    box-shadow: 0px 1px 24px rgba(7, 30, 61, 0.18); }
    .from #userForm h2 {
      margin-bottom: 30px; }
    .from #userForm input, .from #userForm textarea {
      border: 1px solid rgba(0, 46, 106, 0.5);
      border-radius: 6px;
      color: #002e6a;
      padding: 10px; }
    .from #userForm input::placeholder, .from #userForm textarea::placeholder {
      color: #002e6a;
      opacity: 0.5; }
    .from #userForm .rsform-submit-button {
      height: 2.4em;
      width: 100%;
      max-width: 320px; }
    .from #userForm .rsform-block-form-text {
      text-align: center;
      font-size: 18px; }
    @media only screen and (max-width: 767px) {
      .from #userForm {
        padding: 10px; } }

.wrapper {
  flex-flow: column nowrap;
  flex-wrap: nowrap;
  position: relative;
  width: 100%; }
  .wrapper__content {
    align-items: center;
    flex-flow: column nowrap;
    flex-grow: 1;
    padding: 0 0.5em 0.5em; }
  @media only screen and (min-width: 1200px) {
    .wrapper__content {
      padding: 0; } }

.mainarea {
  justify-content: center;
  content: 0.5em;
  width: 100%; }
  .mainarea .supwrap {
    max-width: 60em;
    width: 100%; }

.main-content {
  margin-top: 1em; }
@media only screen and (max-width: 480px) {
  .main-content {
    flex-direction: column; } }
@media (min-width: 481px) and (max-width: 768px) {
  .main-content {
    display: block !important; } }
.main-content .item-page {
  font-size: 0.9em; }
@media only screen and (max-width: 480px) {
  .main-content .item-page .page-header {
    margin: 1em 0; } }
.main-content .item-page ul, .main-content .item-page ol {
  list-style: none; }
  .main-content .item-page ul li::before, .main-content .item-page ol li::before {
    margin-right: 0.5em; }
  .main-content .item-page ul li ul, .main-content .item-page ul li ol, .main-content .item-page ol li ul, .main-content .item-page ol li ol {
    padding-left: 0.5em; }
    .main-content .item-page ul li ul li::before, .main-content .item-page ol li ul li::before {
      content: '-'; }
.main-content .item-page ul li::before {
  content: '●';
  color: #c0c0c0;
  font-size: 0.6em;
  vertical-align: middle; }
.main-content .item-page ol {
  counter-reset: item; }
  .main-content .item-page ol li {
    counter-increment: item; }
    .main-content .item-page ol li:before {
      content: counter(item); }

.top {
  max-width: 1180px; }

.top, .top .logotip, .top .moduletable_menu {
  flex-flow: column;
  justify-content: center; }

html, body, .wrapper, .wrapper__content, .mainarea, .main-content, .top, .top .supwrap .topmenu, .top .logotip, .top .moduletable_menu, .top .moduletable_menu .nav.menu, .bottom .supwrap, .bottom .footer-menu, .bottom .footer-menu .inner, .category-module-categ, .category-module-categ li, .item-pagecontacts .article, .item-pagecontacts .left, .item-pagecontacts .right, .item-pageproducts .article, .item-pageproducts .left, .item-pageproducts .right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

.backdrop {
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4); }

.top {
  height: 5.25em;
  width: 100%; }
  .top .supwrap .topmenu {
    justify-content: space-between;
    align-items: center; }
    .top .supwrap .topmenu .menu-desk {
      display: block; }
    @media only screen and (max-width: 767px) {
      .top .supwrap .topmenu .menu-desk {
        display: none; } }
    .top .supwrap .topmenu .menu-mob-bars {
      display: none; }
    @media only screen and (max-width: 767px) {
      .top .supwrap .topmenu .menu-mob-bars {
        display: block; } }
    .top .supwrap .topmenu .menu-mob-bars .bar {
      width: 25px;
      height: 3px;
      background: #002453;
      margin-bottom: 5px; }
    .top .supwrap .topmenu .menu-mob {
      display: none;
      position: absolute;
      top: 0;
      right: -100%;
      background: #002e6a;
      width: 75%;
      max-width: 300px;
      padding: 50px 15px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px; }
      .top .supwrap .topmenu .menu-mob__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px; }
      .top .supwrap .topmenu .menu-mob .moduletable_menu {
        margin-bottom: 50px; }
        .top .supwrap .topmenu .menu-mob .moduletable_menu .nav.menu {
          flex-flow: column; }
          .top .supwrap .topmenu .menu-mob .moduletable_menu .nav.menu li:not(:last-child) {
            margin-bottom: 25px; }
          .top .supwrap .topmenu .menu-mob .moduletable_menu .nav.menu li a {
            color: #fff;
            font-family: Roboto-Regular;
            font-weight: 600;
            text-decoration: none;
            margin: 0; }
      .top .supwrap .topmenu .menu-mob__bottom .menu-title {
        color: #00aeef;
        font-size: 14px;
        font-family: Roboto-Regular;
        font-weight: 600;
        margin-bottom: 20px; }
        .top .supwrap .topmenu .menu-mob__bottom .menu-email a, .top .supwrap .topmenu .menu-mob__bottom .menu-phone a {
          color: #fff;
          font-size: 14px; }
        .top .supwrap .topmenu .menu-mob__bottom .menu-email img, .top .supwrap .topmenu .menu-mob__bottom .menu-phone img {
          margin-right: 10px; }
    .top .supwrap .topmenu .menu-active {
      display: block; }
    .top .supwrap .topmenu .menu-animate-in {
      right: 0;
      transition: all 0.3s ease-in-out; }
    .top .supwrap .topmenu .menu-animate-out {
      right: -100%;
      transition: all 0.3s ease-in-out; }
.top .logotip img {
  vertical-align: middle; }
.top .moduletable_menu .nav.menu {
  list-style: none; }
@media only screen and (max-width: 640px) {
  .top .moduletable_menu .nav.menu {
    flex-flow: column nowrap; } }
@media only screen and (max-width: 480px) {
  .top .moduletable_menu .nav.menu {
    flex-flow: row nowrap; } }
.top .moduletable_menu .nav.menu li:hover a, .top .moduletable_menu .nav.menu li.current a {
  color: #00aeef;
  border-bottom: 0.15em solid #00aeef; }
.top .moduletable_menu .nav.menu li a {
  color: #002e6a;
  font-size: 1em;
  font-family: Roboto-Black;
  padding: 0.75em 0;
  margin: 0 1em; }
@media only screen and (max-width: 640px) {
  .top .moduletable_menu .nav.menu li a {
    padding: 0; } }
.top .moduletable_menu .nav.menu li a:hover {
  text-decoration: none;
  color: #00aeef; }

.showcase .wk-slideshow {
  margin: auto !important; }
  .showcase .wk-slideshow img {
    min-width: 59em;
    margin: auto;
    width: 100%;
    height: 100%;
    max-height: 19.9; }
  @media only screen and (min-width: 1200px) {
    .showcase .wk-slideshow {
      margin: 0 !important; } }
.showcase .moduletable {
  position: relative;
  margin-bottom: -3em;
  top: -11.85em;
  text-transform: capitalize;
  height: 3em;
  font-family: Roboto-Bold;
  z-index: 99;
  text-align: right;
  float: right; }
  .showcase .moduletable-categ {
    max-width: 60em; }
  .showcase .moduletable .capt .caption {
    position: inherit;
    color: #002e6a;
    font-size: 1.75em;
    line-height: 2em;
    white-space: nowrap; }
    .showcase .moduletable.news .capt .caption {
      background: url("../images/bg-about.png") no-repeat right center;
      padding: 10px 52px; }
    .showcase .moduletable.contacts .capt .caption {
      background: url("../images/bg-contacts.png") no-repeat right center;
      padding: 10px 44px; }
    .showcase .moduletable.about .capt .caption {
      background: url("../images/bg-about.png") no-repeat right center;
      padding: 10px 49px; }
    .showcase .moduletable.comm .capt .caption {
      background: url("../images/caption-bg.png") no-repeat right center;
      padding: 10px 45px; }
    .showcase .moduletable.partners .capt .caption {
      background: url("../images/bg-investors.png") no-repeat right center;
      padding: 10px 34px; }
    .showcase .moduletable.investors .capt .caption {
      background: url("../images/bg-investors.png") no-repeat right center;
      padding: 10px 28px; }
    .showcase .moduletable.clients .capt .caption {
      background: url("../images/bg-investors.png") no-repeat right center;
      padding: 10px 49px; }

.bread .breadcrumb {
  display: flex;
  list-style: none; }
  .bread .breadcrumb li {
    margin-right: 0.5em;
    font-family: Roboto-Regular;
    font-size: 0.7em; }
    .bread .breadcrumb li.active {
      margin: 0; }
    .bread .breadcrumb li a {
      font-size: 1em;
      font-family: Roboto-Regular; }
      .bread .breadcrumb li a:hover {
        text-decoration: none; }

.sidebar {
  margin: 0 1em 0.5em 0; }
@media only screen and (max-width: 480px) {
  .sidebar {
    margin: 0; } }
@media (min-width: 481px) and (max-width: 768px) {
  .sidebar {
    float: left; } }
.sidebar .left-menu {
  width: 13.5em;
  background: #f7f7f7; }
@media only screen and (max-width: 480px) {
  .sidebar .left-menu {
    width: 100%; } }
.sidebar .left-menu ul {
  list-style: none; }
  .sidebar .left-menu ul li a {
    font-family: Roboto-Medium;
    color: #373742;
    display: inline-block;
    border-left: 5px solid transparent;
    padding: 1em 2em; }
  @media only screen and (max-width: 480px) {
    .sidebar .left-menu ul li a {
      padding: 0.5em 2em; } }
  .sidebar .left-menu ul li a:hover {
    color: #00aeef;
    border-left: 5px solid #00aeef;
    text-decoration: none; }
  .sidebar .left-menu ul li.active a {
    color: #00aeef;
    border-left: 5px solid #00aeef;
    text-decoration: none; }

.bottom {
  width: 100%; }
  .bottom .supwrap {
    flex-flow: column nowrap; }
  .bottom .footer-menu {
    background-color: #002e6a;
    padding: 20px 40px; }
  @media only screen and (max-width: 767px) {
    .bottom .footer-menu {
      height: auto;
      padding: 0.5em 6.87%; } }
  .bottom .footer-menu .inner {
    justify-content: space-between;
    width: 100%; }
  @media only screen and (max-width: 767px) {
    .bottom .footer-menu .inner {
      flex-direction: column; } }
  .bottom .footer-menu .inner__about {
    width: 50%;
    margin-right: 30px; }
    .bottom .footer-menu .inner__about .logotip-footer {
      margin-bottom: 15px; }
    .bottom .footer-menu .inner__about .about-title {
      color: #fff;
      font-family: Roboto-Bold;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 15px; }
    .bottom .footer-menu .inner__about .about-text {
      font-family: Roboto-Light;
      color: #EAF2FC;
      font-size: 12px;
      line-height: 20px; }
      .bottom .footer-menu .inner__about .about-text span {
        font-weight: 600; }
  .bottom .footer-menu .inner__contact {
    width: 40%; }
    .bottom .footer-menu .inner__contact .menu-footer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px; }
      .bottom .footer-menu .inner__contact .menu-footer__wrapper {
        flex-grow: 1; }
      .bottom .footer-menu .inner__contact .menu-footer li {
        list-style: none;
        margin-right: 1em; }
        .bottom .footer-menu .inner__contact .menu-footer li a {
          color: #fff;
          font-size: 0.9em;
          font-family: Roboto-Black; }
          .bottom .footer-menu .inner__contact .menu-footer li a:hover {
            color: #00aeef;
            text-decoration: none; }
        .bottom .footer-menu .inner__contact .menu-footer li.current a {
          color: #00aeef; }
    .bottom .footer-menu .inner__contact .contact-title {
      color: #00aeef;
      font-size: 14px;
      font-family: Roboto-Regular;
      font-weight: 600;
      margin-bottom: 15px; }
      .bottom .footer-menu .inner__contact .email p, .bottom .footer-menu .inner__contact .phone p {
        margin: 0 0 10px 0; }
      .bottom .footer-menu .inner__contact .email a, .bottom .footer-menu .inner__contact .phone a {
        color: #fff;
        font-size: 14px;
        font-family: Roboto-Regular; }
    .bottom .footer-menu .inner__contact .phone img {
      margin-right: 10px; }
  .bottom .copyright {
    background-color: #002e6a;
    padding-bottom: 75px; }
    .bottom .copyright div {
      font-family: Roboto-Light;
      color: #c5c5c5;
      font-size: 0.55em;
      text-align: center;
      line-height: 4.09em; }
    @media only screen and (max-width: 767px) {
      .bottom .footer-menu {
        padding: 30px 15px; }
        .bottom .footer-menu .inner__about {
          width: 100%;
          margin: 0 0 40px 0; }
        .bottom .footer-menu .inner__contact {
          width: 100%; }
          .bottom .footer-menu .inner__contact .menu-footer {
            flex-flow: row wrap; }
            .bottom .footer-menu .inner__contact .menu-footer li {
              display: flex;
              flex-basis: calc(50% - 40px);
              justify-content: center;
              margin-bottom: 40px; }
          .bottom .footer-menu .inner__contact .email img, .bottom .footer-menu .inner__contact .phone img {
            width: 15px;
            margin: 0 30px 0 0; }
          .bottom .footer-menu .inner__contact .email p, .bottom .footer-menu .inner__contact .phone p {
            margin: 0 0 5px 0; } }

.category-module-categ {
  flex-flow: row wrap;
  justify-content: center; }
  .category-module-categ li {
    flex-basis: 100%;
    margin: 1em 0.5em 0; }
  @media only screen and (min-width: 1200px) {
    .category-module-categ li {
      max-width: 29em; } }
@media only screen and (max-width: 640px) {
  .category-module-categ li {
    align-items: center;
    flex-direction: column; } }
.category-module-categ .mod-news-img {
  background-size: cover;
  display: block;
  flex-shrink: 0;
  min-height: 8em;
  height: 8em;
  width: 8em; }
@media only screen and (max-width: 640px) {
  .category-module-categ .mod-news-img {
    height: 60vw;
    width: 100%; } }
.category-module-categ .rightpart {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.5em 1.35em;
  background-color: #f7f7f7;
  flex-grow: 1;
  width: 100%; }
  .category-module-categ .rightpart h4 a {
    color: #373742;
    font-family: Roboto-Black;
    font-size: 1em;
    white-space: nowrap; }
  .category-module-categ .rightpart p {
    margin: 0.44em 0 0.77em;
    font-size: 0.6em; }
  .category-module-categ .rightpart .readmore {
    font-size: 0.55em;
    text-transform: uppercase;
    border: 1px solid #00aeef;
    border-radius: 1.4em;
    padding: 0.63em 1.8em;
    font-family: Roboto-Black; }
    .category-module-categ .rightpart .readmore:hover {
      color: #fff;
      background: #00aeef;
      text-decoration: none; }

.blog .span4 {
  width: 350px;
  float: left;
  display: inline-block;
  margin-right: 65px;
  margin-bottom: 50px; }
  .blog .span4:nth-child(3n+3) {
    margin-right: 0; }
  .blog .span4 .page-header {
    float: left;
    width: 295px;
    margin-bottom: 10px; }
    .blog .span4 .page-header a {
      font-size: 25px;
      font-family: Roboto-Black;
      color: #373742;
      line-height: 30px; }
      .blog .span4 .page-header a:hover {
        color: #00aeef;
        text-decoration: none; }
  .blog .span4 .article-info {
    margin: 0; }
.blog .published time {
  float: left;
  color: #00aeef;
  font-size: 35px;
  font-family: Roboto-Black;
  line-height: 27px;
  margin: 12px 15px 0 -41px;
  display: block; }
  .blog .published time span {
    font-family: Roboto-Medium;
    font-size: 20px;
    display: block; }
.blog .page-header h2 {
  margin: 0; }
.blog p:not(.readmore) {
  margin: 0;
  clear: both;
  height: 104px;
  overflow: hidden; }
.blog .readmore a {
  font-size: 11px;
  text-transform: uppercase;
  border: 1px solid #00aeef;
  border-radius: 15px;
  padding: 7px 20px;
  font-family: Roboto-Black;
  display: inline-block; }
  .blog .readmore a:hover {
    color: #fff;
    background: #00aeef;
    text-decoration: none; }

.pagination {
  clear: both;
  text-align: center;
  margin: 30px 0 10px; }
  .pagination-list {
    padding: 0;
    margin: 0 auto;
    display: inline-block; }
    .pagination-list li {
      list-style: none;
      display: inline-block;
      float: left;
      padding-bottom: 10px;
      width: 50px;
      text-align: center; }
      .pagination-list li:first-child, .pagination-list li:last-child {
        display: none; }
      .pagination-list li.active {
        border-bottom: 3px solid #00aeef; }
        .pagination-list li.active a {
          color: #00aeef; }
    .pagination-list a {
      font-size: 20px;
      font-family: Roboto-Bold;
      color: #4b4b4b;
      cursor: pointer; }
      .pagination-list a:hover {
        text-decoration: none; }
      .pagination-list a[title="Next"] {
        background: url('../images/page-arrow.png') no-repeat;
        display: inline-block;
        width: 12px;
        height: 20px; }
      .pagination-list a[title="Prev"] .icon-previous {
        background: url('../images/page-arrow.png') no-repeat 0 -27px;
        display: inline-block;
        width: 12px;
        height: 20px; }
    .pagination-list .disabled .icon-previous {
      background: url('../images/page-arrow.png') no-repeat 0 -90px;
      display: inline-block;
      width: 12px;
      height: 20px; }
    .pagination-list .disabled .icon-next {
      background: url('../images/page-arrow.png') no-repeat 0 -59px;
      display: inline-block;
      width: 12px;
      height: 20px; }

@media only screen and (max-width: 640px) {
  .item-pagecontacts .article {
    align-items: center;
    flex-direction: column; } }
.item-pagecontacts .left, .item-pagecontacts .right {
  flex: 1 0 50%;
  flex-flow: column nowrap; }
.item-pagecontacts .left {
  align-items: flex-start; }
  .item-pagecontacts .left .email-cont {
    font-family: Roboto-Medium; }
    .item-pagecontacts .left .email-cont img {
      margin-right: 0.75em; }
.item-pagecontacts .right {
  align-items: flex-end; }

@media only screen and (max-width: 640px) {
  .item-pageproducts .article {
    align-items: center;
    flex-direction: column; } }
.item-pageproducts .left, .item-pageproducts .right {
  flex: 1 0 50%;
  flex-flow: column nowrap; }
.item-pageproducts .left {
  align-items: flex-start; }
  .item-pageproducts .left .email-cont {
    font-family: Roboto-Medium; }
    .item-pageproducts .left .email-cont img {
      margin-right: 0.75em; }
  .item-pageproducts .left .more-wrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: -30px;
    margin-bottom: 20px; }
    .item-pageproducts .left .more-wrap .custom-more {
      background: #00aeef;
      border: 3px solid #00aeef;
      display: block;
      font-family: Roboto-Black;
      font-size: 1em;
      height: 30px;
      width: 100px;
      text-shadow: none;
      text-align: center;
      transition: all 0.2s;
      color: #fff;
      line-height: 30px;
      text-transform: capitalize;
      border-radius: 4px; }
      .item-pageproducts .left .more-wrap .custom-more:hover {
        background-color: #fff;
        color: #00aeef; }
      @media only screen and (max-width: 767px) {
        .item-pageproducts .left .more-wrap {
          justify-content: center;
          margin-top: -20px;
          margin-bottom: 20px; }
          .item-pageproducts .left .more-wrap .custom-more {
            width: 200px; } }
.item-pageproducts .right {
  align-items: flex-end; }

#userForm {
  margin: 0; }
  #userForm h2 {
    color: #002e6a;
    font-family: Roboto-Black;
    font-size: 1.5em;
    margin: 0 0 0.66em;
    text-align: center; }
    #userForm .rsform-block {
      margin-bottom: 0.7em !important; }
      #userForm .rsform-block .formControls {
        margin: 0; }
      #userForm .rsform-block .formControlLabel, #userForm .rsform-block .formValidation, #userForm .rsform-block .formDescription {
        display: none; }
      #userForm .rsform-block input, #userForm .rsform-block textarea {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #898989;
        border-radius: 0;
        color: #898989;
        font-family: Roboto-Regular;
        width: 100%; }
        #userForm .rsform-block input.rsform-error, #userForm .rsform-block textarea.rsform-error {
          border-color: #f00; }
      #userForm .rsform-block input {
        height: 3.23em;
        margin: 0;
        padding: 0.3em; }
      #userForm .rsform-block textarea {
        height: 100px;
        resize: none; }
      #userForm .rsform-block-recaptcha [id^=g-recaptcha] > div > div {
        margin: auto !important; }
    #userForm .rsform-submit-button {
      background: #00aeef;
      border: 3px solid #00aeef;
      display: block;
      font-family: Roboto-Black;
      font-size: 1em;
      height: 3em;
      margin: auto;
      text-shadow: none;
      text-align: center;
      transition: all 0.2s; }
      #userForm .rsform-submit-button:hover {
        background-color: #fff;
        color: #00aeef; }

.product-CloudPulse .title, .product-CloudPulse .section-title {
  font-family: Roboto-Bold, sans-serif;
  color: #002e6a;
  font-size: 2.5em;
  margin-bottom: 40px;
  font-weight: 700; }
@media only screen and (max-width: 767px) {
  .product-CloudPulse .title, .product-CloudPulse .section-title {
    font-size: 1.5em; } }
.product-CloudPulse .section-title {
  text-align: center;
  max-width: 890px;
  margin: 0 auto 45px auto;
  line-height: 50px; }
@media only screen and (max-width: 767px) {
  .product-CloudPulse .section-title {
    line-height: 30px; } }
.product-CloudPulse .info {
  margin-bottom: 100px; }
  .product-CloudPulse .info .wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between; }
    .product-CloudPulse .info .wrap .box {
      width: 33%;
      display: flex;
      flex-flow: column; }
      .product-CloudPulse .info .wrap .box:first-child {
        width: 70%;
        margin-right: 30px; }
      .product-CloudPulse .info .wrap .box:last-child {
        justify-content: space-between; }
      .product-CloudPulse .info .wrap .box .text {
        margin-bottom: 30px; }
        .product-CloudPulse .info .wrap .box .text span {
          font-family: Roboto-Regular, sans-serif;
          color: #002e6a; }
      .product-CloudPulse .info .wrap .box .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px; }
        .product-CloudPulse .info .wrap .box .item__icon {
          margin-right: 30px; }
    @media only screen and (max-width: 767px) {
      .product-CloudPulse .info .wrap {
        flex-flow: column; }
        .product-CloudPulse .info .wrap .box {
          width: 100%; }
          .product-CloudPulse .info .wrap .box:first-child {
            width: 100%; }
          .product-CloudPulse .info .wrap .box .item {
            justify-content: flex-start; } }
.product-CloudPulse .process {
  margin-bottom: 100px; }
  .product-CloudPulse .process .wrap .text {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 40px auto; }
  .product-CloudPulse .process .wrap .img {
    display: block; }
    .product-CloudPulse .process .wrap .img img {
      width: 100%;
      object-fit: contain; }
  .product-CloudPulse .process .wrap .swiper {
    display: none; }
  @media only screen and (max-width: 767px) {
    .product-CloudPulse .process .wrap .img {
      display: none; }
    .product-CloudPulse .process .wrap .swiper {
      display: block; }
      .product-CloudPulse .process .wrap .swiper .swiper-slide {
        text-align: center; }
        .product-CloudPulse .process .wrap .swiper .swiper-slide .text {
          text-align: center; } }
.product-CloudPulse .features {
  margin-bottom: 100px; }
  .product-CloudPulse .features .wrap {
    display: flex;
    justify-content: space-between; }
    .product-CloudPulse .features .wrap .features__list {
      width: 40%;
      margin-right: 30px; }
      .product-CloudPulse .features .wrap .features__list .item {
        display: flex;
        align-items: center;
        margin-bottom: 30px; }
        .product-CloudPulse .features .wrap .features__list .item__icon {
          margin-right: 30px; }
    .product-CloudPulse .features .wrap .features__text {
      width: 50%; }
      .product-CloudPulse .features .wrap .features__text .text-box {
        margin-bottom: 20px; }
        .product-CloudPulse .features .wrap .features__text .text-box .text {
          margin-bottom: 10px;
          font-size: 18px; }
      .product-CloudPulse .features .wrap .features__text .img-box img {
        width: 100%; }
    @media only screen and (max-width: 767px) {
      .product-CloudPulse .features .wrap {
        flex-flow: column; }
        .product-CloudPulse .features .wrap .features__list {
          width: 100%; }
        .product-CloudPulse .features .wrap .features__text {
          width: 100%; }
          .product-CloudPulse .features .wrap .features__text .img-box {
            text-align: center; }
            .product-CloudPulse .features .wrap .features__text .img-box img {
              max-width: 450px; } }
.product-CloudPulse .servises {
  margin-bottom: 100px; }
  .product-CloudPulse .servises .wrap {
    display: flex;
    justify-content: space-between; }
    .product-CloudPulse .servises .wrap .servises__info {
      margin-right: 40px;
      align-self: flex-end;
      position: relative;
      width: 50%; }
      .product-CloudPulse .servises .wrap .servises__info .info-img {
        padding-top: 30px; }
      .product-CloudPulse .servises .wrap .servises__info .info-txt-item {
        position: absolute; }
        .product-CloudPulse .servises .wrap .servises__info .info-txt-item .item-title {
          font-family: Roboto-Bold;
          color: #002e6a;
          font-weight: 700;
          font-size: 16px;
          margin-bottom: 15px; }
        .product-CloudPulse .servises .wrap .servises__info .info-txt-item .item-text {
          font-size: 16px; }
      .product-CloudPulse .servises .wrap .servises__info .top-left {
        top: -105px;
        left: 0;
        max-width: 190px; }
      .product-CloudPulse .servises .wrap .servises__info .top-right {
        top: -105px;
        right: 0; }
      .product-CloudPulse .servises .wrap .servises__info .bottom-left {
        bottom: 45px;
        left: 0;
        max-width: 210px; }
    .product-CloudPulse .servises .wrap .servises__info-mob {
      display: none; }
    .product-CloudPulse .servises .wrap .servises__tools {
      width: 50%; }
      .product-CloudPulse .servises .wrap .servises__tools .tools-title {
        color: #002e6a;
        font-family: Roboto-Regular;
        font-size: 24px;
        margin-bottom: 25px;
        font-weight: 700; }
      .product-CloudPulse .servises .wrap .servises__tools .tools-text {
        font-size: 18px;
        margin-bottom: 45px; }
        .product-CloudPulse .servises .wrap .servises__tools .tools-list .item {
          display: flex;
          align-items: center; }
          .product-CloudPulse .servises .wrap .servises__tools .tools-list .item:not(:last-child) {
            margin-bottom: 25px; }
          .product-CloudPulse .servises .wrap .servises__tools .tools-list .item__icon {
            margin-right: 30px; }
    @media only screen and (max-width: 767px) {
      .product-CloudPulse .servises .wrap {
        flex-flow: column; }
        .product-CloudPulse .servises .wrap .servises__info {
          display: none; }
        .product-CloudPulse .servises .wrap .servises__info-mob {
          display: block; }
          .product-CloudPulse .servises .wrap .servises__info-mob .svg-area {
            text-align: center;
            position: relative; }
            .product-CloudPulse .servises .wrap .servises__info-mob .svg-area [class^='tooltip-'] {
              background: #fff;
              border-radius: 8px;
              padding: 5px 10px;
              box-shadow: 0px 0px 5px #b9b9b9; }
            .product-CloudPulse .servises .wrap .servises__info-mob .svg-area .tooltip-deal {
              display: none;
              position: absolute;
              top: 165px; }
            .product-CloudPulse .servises .wrap .servises__info-mob .svg-area .tooltip-app {
              display: none;
              position: absolute;
              top: 90px; }
            .product-CloudPulse .servises .wrap .servises__info-mob .svg-area .tooltip-lead {
              display: none;
              position: absolute;
              top: 35px; }
            .product-CloudPulse .servises .wrap .servises__info-mob .svg-area .active {
              display: block; }
        .product-CloudPulse .servises .wrap .servises__tools {
          width: 100%; }
          .product-CloudPulse .servises .wrap .servises__tools .tools-title {
            text-align: center; } }
.product-CloudPulse .offers {
  margin-bottom: 100px; }
  .product-CloudPulse .offers .section-title {
    max-width: 1200px; }
  .product-CloudPulse .offers .box-title {
    color: #002e6a;
    font-size: 24px;
    font-family: Roboto-Regular;
    font-weight: 600;
    margin-bottom: 25px; }
  .product-CloudPulse .offers .box-subtitle {
    height: 50px;
    color: #002e6a; }
  .product-CloudPulse .offers .wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
    .product-CloudPulse .offers .wrap .box-list .item {
      display: flex;
      align-items: center; }
      .product-CloudPulse .offers .wrap .box-list .item:not(:last-child) {
        margin-bottom: 15px; }
      .product-CloudPulse .offers .wrap .box-list .item__icon {
        margin-right: 30px; }
        .product-CloudPulse .offers .wrap .box-list .item__icon img {
          width: 56px;
          height: 56px; }
      .product-CloudPulse .offers .wrap .box-list .item__text {
        font-size: 18px; }
    .product-CloudPulse .offers .wrap .offers-ready {
      width: 40%;
      margin-right: 30px; }
    .product-CloudPulse .offers .wrap .offers-list {
      width: 60%; }
      .product-CloudPulse .offers .wrap .offers-list .box-subtitle {
        font-family: Roboto-Regular;
        font-weight: 500; }
      .product-CloudPulse .offers .wrap .offers-list .inner {
        display: flex;
        justify-content: space-between; }
        .product-CloudPulse .offers .wrap .offers-list .inner .box-img img {
          width: 100%; }
    @media only screen and (max-width: 767px) {
      .product-CloudPulse .offers .d-none {
        display: none; }
      .product-CloudPulse .offers .wrap {
        flex-flow: column; }
        .product-CloudPulse .offers .wrap .offers-ready {
          width: 100%;
          margin-bottom: 30px; }
        .product-CloudPulse .offers .wrap .offers-list {
          width: 100%; }
          .product-CloudPulse .offers .wrap .offers-list .inner {
            flex-flow: column; }
            .product-CloudPulse .offers .wrap .offers-list .inner .box-list {
              margin-bottom: 40px; }
            .product-CloudPulse .offers .wrap .offers-list .inner .box-img {
              text-align: center; }
              .product-CloudPulse .offers .wrap .offers-list .inner .box-img img {
                max-width: 270px; } }

.product-Scoring .section-title {
  font-family: Roboto-Regular;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #002e6a;
  margin-bottom: 50px; }
@media only screen and (max-width: 767px) {
  .product-Scoring .section-title {
    font-size: 26px; } }
.product-Scoring .ready-use {
  margin-bottom: 50px; }
  .product-Scoring .ready-use .wrap {
    display: flex; }
    .product-Scoring .ready-use .wrap .ready-use-text {
      width: 55%;
      display: flex;
      flex-flow: column;
      justify-content: center; }
      .product-Scoring .ready-use .wrap .ready-use-text__title {
        font-family: Roboto-Regular;
        font-weight: 700;
        color: #002453;
        font-size: 56px;
        margin-bottom: 40px; }
      .product-Scoring .ready-use .wrap .ready-use-text__text {
        font-weight: 300;
        font-size: 22px; }
    .product-Scoring .ready-use .wrap .ready-use-img {
      width: 50%;
      text-align: right; }
    @media only screen and (max-width: 767px) {
      .product-Scoring .ready-use .wrap {
        flex-flow: column; }
        .product-Scoring .ready-use .wrap .ready-use-text {
          width: 100%; }
          .product-Scoring .ready-use .wrap .ready-use-text__title {
            font-size: 28px;
            text-align: center; }
          .product-Scoring .ready-use .wrap .ready-use-text__text {
            font-size: 18px; }
        .product-Scoring .ready-use .wrap .ready-use-img {
          width: 100%;
          text-align: center; }
          .product-Scoring .ready-use .wrap .ready-use-img img {
            max-width: 150px; } }
.product-Scoring .solution {
  margin-bottom: 50px; }
  .product-Scoring .solution__text {
    font-family: Roboto-Light;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 50px;
    color: #002e6a; }
  .product-Scoring .solution .items1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; }
    .product-Scoring .solution .items1 .item {
      width: 30%;
      text-align: center; }
      .product-Scoring .solution .items1 .item__icon {
        margin-bottom: 25px; }
        .product-Scoring .solution .items1 .item__icon img {
          height: 190px; }
      .product-Scoring .solution .items1 .item__title {
        margin-bottom: 15px;
        font-family: Roboto-Regular;
        color: #002e6a;
        font-size: 22px;
        font-weight: 600; }
      .product-Scoring .solution .items1 .item__text {
        font-size: 18px;
        font-weight: 300; }
  .product-Scoring .solution .divider {
    width: 300px;
    height: 2px;
    background: #002e6a;
    text-align: center;
    margin: 0 auto 70px auto;
    position: relative; }
    .product-Scoring .solution .divider::before, .product-Scoring .solution .divider::after {
      content: '';
      display: block;
      width: 50%;
      height: 1px;
      background: #00aeef;
      position: absolute;
      left: 25%; }
    .product-Scoring .solution .divider::before {
      top: -8px; }
    .product-Scoring .solution .divider::after {
      top: 8px; }
  .product-Scoring .solution .items2 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: column; }
    .product-Scoring .solution .items2 .item {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .product-Scoring .solution .items2 .item:not(:last-child) {
        margin-bottom: 30px; }
      .product-Scoring .solution .items2 .item:last-child {
        margin-bottom: 50px; }
      .product-Scoring .solution .items2 .item__icon {
        margin-right: 50px; }
        .product-Scoring .solution .items2 .item__icon img {
          width: 210px; }
      .product-Scoring .solution .items2 .item__text-title {
        font-family: Roboto-Regular;
        font-weight: 700;
        margin-bottom: 15px;
        color: #002e6a;
        text-transform: uppercase; }
    @media only screen and (max-width: 767px) {
      .product-Scoring .solution__text {
        font-size: 18px; }
      .product-Scoring .solution .items1 {
        flex-flow: column; }
        .product-Scoring .solution .items1 .item {
          width: 100%;
          margin-bottom: 50px; }
      .product-Scoring .solution .items2 {
        width: 100%; }
        .product-Scoring .solution .items2 .item {
          flex-flow: column;
          text-align: center;
          margin-bottom: 50px; }
          .product-Scoring .solution .items2 .item__icon {
            margin-bottom: 30px;
            margin-right: unset; }
          .product-Scoring .solution .items2 .item__text {
            margin-bottom: 15px; } }
.product-Scoring .implement {
  margin-bottom: 50px; }
  .product-Scoring .implement .wrap {
    display: flex;
    justify-content: space-between; }
    .product-Scoring .implement .wrap .implement__list {
      width: 50%; }
      .product-Scoring .implement .wrap .implement__list .item {
        display: flex;
        align-items: center; }
        .product-Scoring .implement .wrap .implement__list .item:not(:last-child) {
          margin-bottom: 30px; }
        .product-Scoring .implement .wrap .implement__list .item__icon {
          margin-right: 30px; }
        .product-Scoring .implement .wrap .implement__list .item__text {
          font-size: 18px; }
    .product-Scoring .implement .wrap .implement__img {
      width: 50%;
      align-self: flex-end; }
      .product-Scoring .implement .wrap .implement__img img {
        width: 100%; }
  .product-Scoring .implement .implement-txt {
    margin-top: 10px;
    margin-bottom: 150px;
    font-family: Roboto-Regular;
    font-size: 28px;
    font-style: italic;
    color: #002e6a; }
  .product-Scoring .implement .numbers {
    display: flex;
    justify-content: space-between; }
    .product-Scoring .implement .numbers .item {
      width: 30%;
      display: flex;
      flex-flow: column;
      align-items: center; }
      .product-Scoring .implement .numbers .item__num {
        font-family: Roboto-Regular;
        font-weight: 700;
        font-size: 60px;
        color: #00aeef;
        margin-bottom: 30px; }
      .product-Scoring .implement .numbers .item__div {
        margin: 0 auto;
        margin-bottom: 15px; }
        .product-Scoring .implement .numbers .item__div div {
          width: 40px;
          height: 3px;
          background: #EAF2FC;
          margin-bottom: 5px; }
      .product-Scoring .implement .numbers .item__text {
        text-align: center;
        margin-bottom: 30px;
        height: 60px; }
    @media only screen and (max-width: 767px) {
      .product-Scoring .implement .wrap {
        flex-flow: column; }
        .product-Scoring .implement .wrap .implement__list {
          width: 100%; }
          .product-Scoring .implement .wrap .implement__list .item {
            align-items: flex-start; }
        .product-Scoring .implement .wrap .implement__img {
          width: 100%; }
      .product-Scoring .implement .implement-txt {
        margin-top: 0;
        font-size: 18px;
        margin-bottom: 80px; }
      .product-Scoring .implement .numbers {
        flex-flow: column; }
        .product-Scoring .implement .numbers .item {
          width: 100%;
          margin-bottom: 50px; }
          .product-Scoring .implement .numbers .item__num {
            margin-bottom: 10px;
            font-size: 48px; }
          .product-Scoring .implement .numbers .item__div {
            margin-bottom: 10px; }
          .product-Scoring .implement .numbers .item__text {
            height: auto;
            margin-bottom: 15px; } }
.product-Scoring .efficiency {
  margin-bottom: 50px; }
  .product-Scoring .efficiency .section-title {
    margin-bottom: 15px; }
  .product-Scoring .efficiency__text {
    text-align: center;
    color: #002e6a;
    font-family: Roboto-Regular;
    font-style: 24px; }
/*# sourceMappingURL=\templates\mdfin\css\index.css.map */